.form {
    display: grid;
    justify-content: center;
    background-color:rgb(33, 17, 1);
    border: 2px solid;
    color: aliceblue;
}

input {
    background-color: rgb(55, 52, 52);
    color: aliceblue;
    border: 1px solid grey;
    border-radius: 6px;
}

select {
    background-color: grey;
    color: white;
    border-radius: 6px;
}